@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

:root {

  --purple-color: rgba(65, 25, 127, 1);

  --weak-purple-color: rgba(137, 88, 163, 1);

  --blue-color: rgba(3, 118, 226, 1);

  --weak-blue-color: rgba(0, 213, 226, 1);

  --white-color: rgba(225, 229, 235, 1);

  --white-bg-color: rgba(239, 239, 239, 1);

  --white-bg-cart-color: rgba(243, 249, 251, 1);

  --fair-grey-color: rgba(68, 73, 85, 1);

  --black-color: rgba(26, 27, 28, 1);
}

body {
  box-sizing: border-box;
  font-family: Epilogue, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--white-bg-color);
}

.header {
  display: flex;
  justify-content: space-around;
}

.container-title {
  display: flex;
  background-color: var(--purple-color);
  align-items: center;
  width: 100%;
}

.img-title {
  margin-left: 15px;
}

/* .title {
  color: var(--white-color);
  font-size: 30px;
  padding-left: 30px;
} */


.container-cartTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--weak-blue-color);
  max-width: 365px;
  width: 80%;
  height: 90px;
  top: -1px;
}

.cartTitle {
  display: flex;
  align-items: center;
  color: var(--purple-color);
}

.cart__title {
  margin: 5px;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: space-between;
}

.title strong {
  color: white;
}

.items {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.item {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
  border: 2px solid rgb(234, 234, 233);
  border-radius: 5px;
  box-sizing: border-box;
}

/* .item .item__sku {
  display: none;
} */

.item .item__title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: rgb(5, 52, 219);
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  color: white;
}

.cart {
  display: flex;
  max-width: 365px;
  width: 100%;
  flex-flow: column wrap;
  background-color: var(--white-bg-cart-color);
  height: 100vh;
}

.cart .cart__items {
  height: 500px;
  overflow-y: scroll;
}

.empty-cart {
  width: 170px;
  height: 35px;
  margin: 0 auto;
  border: 2px solid rgb(5, 52, 219);
  background-color: rgb(249, 249, 246);
}
